<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title text-dark"><u>Jobs By Company</u></h5>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-accenture')}" ><h5>Accenture</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-amazon')}" ><h5>Amazon</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-capgemini')}" ><h5>Capgemini</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-cisco')}" ><h5>Cisco</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-cognizant')}" ><h5>Cognizant</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-dell')}" ><h5>Dell</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-genpact')}" ><h5>Genpact</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-infosys')}" ><h5>Infosys</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-HCL')}" ><h5>HCL</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-Hewlett')}" ><h5>HP</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-Hewlett')}" ><h5>HPE</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-IBM')}" ><h5>IBM</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-Intel')}" ><h5>Intel</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-TCS')}" ><h5>TCS</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-Tech Mahindra')}" ><h5>Tech Mahindra</h5></a>
        <a class="text-md-left" th:href="@{/company/{id}(id='jobs-in-Wipro')}" ><h5>Wipro</h5></a>
    </div>
</div>

