<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title text-dark"><u>Jobs By Location</u></h5>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-andhra')}" ><h5>Jobs in Andhra Pradesh</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-bangalore')}" ><h5>Jobs in Bangalore</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-chennai')}" ><h5>Jobs in Chennai</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-delhi')}" ><h5>Jobs in Delhi</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-gurgaon')}" ><h5>Jobs in Gurgaon</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-hyderabad')}" ><h5>Jobs in Hyderabad</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-mumbai')}" ><h5>Jobs in Mumbai</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-ncr')}" ><h5>Jobs in NCR</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-noida')}" ><h5>Jobs in Noida</h5></a>
        <a class="text-md-left" th:href="@{/category/{id}(id='jobs-in-pune')}" ><h5>Jobs in Pune</h5></a>
    </div>
</div>

