    <div class="col-sm-12 col-md-3 col-lg-3 mt-1">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-dark"><u>Jobs By Location</u></h5>
                <a class="text-md-left" th:href="@{/category/{id}(id='andhra')}" ><h5>Jobs in Andhra Pradesh</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='bangalore')}" ><h5>Jobs in Bangalore</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='chennai')}" ><h5>Jobs in Chennai</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='delhi')}" ><h5>Jobs in Delhi</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='gurgaon')}" ><h5>Jobs in Gurgaon</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='hyderabad')}" ><h5>Jobs in Hyderabad</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='mumbai')}" ><h5>Jobs in Mumbai</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='ncr')}" ><h5>Jobs in NCR</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='noida')}" ><h5>Jobs in Noida</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='pune')}" ><h5>Jobs in Pune</h5></a>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-dark"><u>Jobs By Company</u></h5>
                <a class="text-md-left" th:href="@{/category/{id}(id='accenture')}" ><h5>Accenture</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='amazon')}" ><h5>Amazon</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='capgemini')}" ><h5>Capgemini</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='cisco')}" ><h5>Cisco</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='cognizant')}" ><h5>Cognizant</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='dell')}" ><h5>Dell</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='genpact')}" ><h5>Genpact</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='infosys')}" ><h5>Infosys</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='HCL')}" ><h5>HCL</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='Hewlett')}" ><h5>HP</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='Hewlett')}" ><h5>HPE</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='IBM')}" ><h5>IBM</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='Intel')}" ><h5>Intel</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='TCS')}" ><h5>TCS</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='Tech Mahindra')}" ><h5>Tech Mahindra</h5></a>
                <a class="text-md-left" th:href="@{/category/{id}(id='Wipro')}" ><h5>Wipro</h5></a>
            </div>
        </div>
    </div>

