<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <th:block th:include="fragments/include"/>
    <title>Fresher Jobs</title>
</head>
<body class="pt-5">
<th:block th:include="fragments/header"/>
<div class="container">
    <div th:if="${data == '' || data == null}">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9 mt-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h4 class="card-title"> Oops! Nothing Found. <a th:href="@{/}" class="text-info">Fresher
                            Jobs</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9 mt-1">
            <div th:if="${data != '' && data != null}" th:each="map : ${data}">
                <div class="card border-0">
                    <div class="card-body">
                        <small class="card-text text-primary" th:text="${map.get('Job Location')}"></small> <small
                            class="card-text float-right text-muted"
                            th:text="'Date Posted: '+${map.get('Date')}"> </small>
                        <h4 class="card-title" th:text="${map.get('Company Name')}"></h4>
                        <h5 class="card-title" th:text="${map.postTitle}"></h5>
                        <p class="card-title" th:text="${map.Summary}"></p>
                        <a th:href="@{/job/{id}(id=${map.Navigation})}" class="btn btn-info">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="fragments/locationJobs"/>
    </div>

</div>


<script src="../js/jquery.js" th:href="@{/js/jquery.js}"></script>
<script src="../js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<th:block th:include="fragments/footer"/>
</body>
</html>
