<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <th:block th:include="fragments/include"/>
    <title th:text="${job.Navigation}">Fresher Jobs</title>
</head>
<body class="pt-5">
<th:block th:include="fragments/header"/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group mt-3 borderless">
                <div class="list-group-item">
                    <h4 th:text="${job.postTitle}"></h4>
                </div>
                <div class="list-group-item"  th:each="map : ${job}"
                     th:if="${map.value != null && map.value != '' && map.key != 'Navigation' && map.key != 'How To Apply' && map.key != 'postTitle'}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${map.key}"></h5>
                    </div>
                    <p class="mb-1" th:text="${map.value}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group-item" th:each="link : ${howToApplyLinks}">
                <a th:href="@{${link}}" target="_blank" class="btn btn-info btn-lg">Apply Now</a>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.js" th:href="@{/js/jquery.js}"></script>
<script src="../js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<th:block th:include="fragments/footer"/>
</body>
</html>